img.main__image.main__image_left(src=require("../images/TU22M3MOD.jpg"))

div.main__topic
  h3.main__header Ту-22М "Backfire", Россия

  p.main__text.
    Ту-22М – советский и российский дальний сверхзвуковой ракетоносец-бомбардировщик с крылом изменяемой стреловидности.
    Может нести ядерное оружие.Предназначен для поражения морских и наземных целей управляемыми ракетами и авиационными бомбами. Носитель ядерных и обычных бомб и ракет (аэробаллистических и крылатых). Кодификация НАТО – Backfire.
  div.main__container
    div.main__cont-topic.main__topic
      h3.main__header Особенности конструкции
      p.main__text.
        Самолёт Ту-22М3 выполнен по аэродинамической схеме свободнонесущего низкоплана, с крылом изменяемой стреловидности, со стреловидным оперением и трёхопорным шасси с передней опорой. При изготовлении использованы алюминиевые и титановые сплавы, стальные конструкции и неметаллические материалы.
        Самолёт имеет фюзеляж типа полумонокок. В носовой части фюзеляжа размещаются радиолокационная станция (РЛС), кабина экипажа, технические отсеки для оборудования и ниша передней опоры шасси. Рабочие места экипажа оснащаются катапультными креслами. Экипаж состоит из четырёх человек. В средней части фюзеляжа установлены топливные баки, грузоотсек со створками, каналы воздухозаборников и ниши основных опор шасси. В хвостовой части фюзеляжа размещены двигатели и отсек тормозного парашюта.
        Крыло состоит из неподвижной части и поворотных консолей. Механизация крыла включает предкрылки, закрылки и интерцепторы, которые работают дифференциально по крену и синхронно (как тормозные щитки), с сохранением функции поперечного управления.
        Стабилизатор – цельноповоротный. При больших углах стреловидности поворотных консолей крыла для управления по крену используется дифференциальное отклонение консолей стабилизатора.
        Вертикальное оперение состоит из форкиля и руля направления.
    div.main__cont-topic.main__cont-topic_sub.main__topic
      h3.main__header Основные ЛТХ модификации Ту-22М3
      p.main__text
        ol
          each specs, main in listInfo
            li=main
              if specs.length != 0
                ul(type="disc")
                  each spec in specs
                    li=spec